 {
  "report-dir": "./tests/e2e/coverage",
  "include": ["src/**/*.{js,jsx,ts,tsx}"],
  "exclude": ["tests/**/*.{js,jsx,ts,tsx}"],
  "reporter": ["lcov", "text"],
  "sourceMap": false,
  "instrument": false,
  "temp-dir": "./tests/e2e/coverage/.nyc_output"
}
 