.post {
    width: calc(25% - 16px);
    margin-bottom: 32px;
  }
  
  .post h2{
    padding-bottom: 20px;
  }
  
  .post-price {
    font-weight: bold;
    font-size: 1.2rem;
    color: green;
    margin-top: 10px;
  }
  
  @media (max-width: 1200px) {
    .post {
      width: calc(33.33% - 16px);
    }
  }
  
  @media (max-width: 992px) {
    .post {
      width: calc(50% - 16px);
    }
  }
  
  @media (max-width: 768px) {
    .post {
      /* display: flex; */
      /* align-items: center; */
      align-items: center;
      max-width: 650px;
      background: #ffffff;
      padding: 50px 30px 50px 20px;
      border-radius: 24px;
  
    }
  }