.box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.searchBar {
    margin-top: 20px;
    width: 300px;
    height: 40px;
    background-color: white;
    border-radius: 50px;
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 10px;

}
.searchBar> i {
    font-size: 20px;
    color: #777;
}
.searchBar >input {
    flex: 1;
    height: 40px;
    border: none;
    outline: none;
    font-size: 20px;
    padding-left: 10px;
}

.searchBar input:focus {
    outline: none;
}
