* {
    margin: 0;
    padding: 0;
}
body {
    background-color: white;
    color: black;
}

header {
    background-color: black;
    color: white;
    width: 90%;
    padding: 20px 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header a{
    color: white;
}